@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dark-c-color: hsl(158, 36%, 37%);
    --cream-color: hsl(30, 38%, 92%);
    --v-dark-b-color: hsl(212, 21%, 14%);
    --d-grayish-b-color: hsl(228, 12%, 48%);
    --white-color: hsl(0, 0%, 100%);
}

body {
    /* display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center; */
    background-color: var(--cream-color);
}

.container {
    display: grid;
    grid-template-columns: 380px 380px;
    overflow: hidden;
    border-radius: 15px;
    width: fit-content;
    margin: 190px auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.main-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.text-section {
    padding: 10%;
    background-color: var(--white-color);
}

.text-section h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    color: var(--d-grayish-b-color);
    letter-spacing: 5px;
}

.subtitle {
    font-family: 'Fraunces', serif;
    font-size: 45px;
    line-height: 0.9;
    margin-top: 30px;
    color: var(--v-dark-b-color);
}

.mainp {
    font-family: 'Montserrat', sans-serif;
    color: var(--d-grayish-b-color);
    margin-top: 30px;
    line-height: 1.6;
    font-size: 17px;
}

.prices {
    display: flex;
    width: 80%;
    height: fit-content;
    justify-content: space-between;
    margin-top: 35px;
    align-items: center;
}

.actual-price {
    font-family: 'Fraunces', serif;
    color: var(--dark-c-color);
    font-size: 40px;
}

.old-price {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--d-grayish-b-color);
    font-size: 16px;
    text-decoration: line-through;
}

button {
    width: 100%;
    padding: 15px;
    margin-top: 40px;
    border: none;
    background-color: var(--dark-c-color);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: var(--white-color);
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background-color: hsl(159, 46%, 19%);
}

.cart-img {
    height: 30px;
    margin-right: 13px;
}

@media (max-width: 450px) {

    body {
        padding: 5%;
    }

    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 300px 1fr;
        margin: 38px auto;
        padding: 0%;
    }

    .subtitle {
        font-size: 35px;
        margin-top: 20px;
    }

    .text-section {
        padding: 7%;
    }

    .text-section h1 {
        letter-spacing: 5px;
    }

    .mainp {
        font-size: 16px;
        margin-top: 20px;
    }
    
    .prices {
        width: 75%;
        margin-top: 20px;
    }

    button {
        margin-top: 20px;
    }

    
}